:root {
  --primary:#ec5242;
  --light:#D3D3D3;
  --dark:#272A31;
}

@font-face {
  font-family: "Cocogoose";
  src: url(./fonts/cocogoose_trial-webfont.woff2) format('woff2');
  font-weight: normal;
  font-style: normal;
}

a {
  text-decoration: none;
}

ul {
list-style-type: none;
}

li {
  padding: 1rem;
}

header {
  background: white;
}

label,
.primary,
.display-4,
h4 {
  color:#ec5242
}

.navbar-brand img {
  margin-left: 5rem;
  width: 6rem;
  height: auto;
}

.table-border {
border: solid 1px;
padding: 8px;
background: linear-gradient(-45deg,#ec5242 0%,#ec5242 12.5%,#D3D3D3 12.5%, #D3D3D3 25%,#272A31 25%, #272A31 37.5%,#D3D3D3 37.5%, #D3D3D3 50%,#ec5242 50%,#ec5242 62.5%,#D3D3D3 62.5%, #D3D3D3 75%,#272A31 75%, #272A31 87.5%,#D3D3D3 87.5%, #D3D3D3 100%);
margin-bottom: 5rem;
background-size: 40px 40px;
}

h2,
.steps {
  text-align: center;
}

.cocogoose,
#mainprog h4 {
font-family: 'Cocogoose', sans-serif;
}

.shadow {
  text-shadow: .2em .2em .2em rgb(132, 134, 141);
}
.outline {
  text-shadow: 
    0.1em 0.05em 0 white,
    -0.05em -0.05em 0 white,
    -0.05em 0.05em 0 white,
    0.05em -0.05em 0 white,
    .2em .2em .2em rgb(132, 134, 141);
}
.steps {
  padding: 1rem;
  margin: 2rem;
  border: solid 1px black;
  border-radius: 3rem;
}

.jumbotron {
  background-image: url(./images/background.png);
  background-size: cover;
  height: 100%;
}

#mainprog {
  padding-top: 2rem;
  background-image: url(./images/tile.png);
  background-size: auto;
  color: whitesmoke;
}

.flexprog {
  display: flex;
  flex-flow: column;
  justify-content: center;
  padding: 5%;
}

.flexprog article {
  display: flex;
  flex-flow: row;
  justify-content: center;
  text-align: center;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.1);
  margin: .5em;
  
}



@media screen and (min-width:768px) {
  .flexprog {
    display: flex;
    flex-flow: row;
    padding: 5% 10%;
  }
  
  .flexprog article {
    display: flex;
    flex-flow: column;
    justify-content: center;
    padding:0.5rem;
    /* margin: ; */
    
  }
  
}